.card {
    background-color: #9bbbdb;
    text-align: center;
    width: 300px;
    margin: auto;
    margin-top: 20px;
    padding: 20px 10px;
    box-shadow: 0px 0px 10px #0004;
    border-radius: 7.5px;
}
body {
    background-color: rgb(255, 255, 255);
    font-family: sans-serif;
    color: white;
}

.card_title {
    margin: 0;
    font-size: 22px;
}

.card_description{
    font-size: 13px;
    font-weight: 100;
    margin: 0;
    margin-top: 5px;
    letter-spacing: 2px;
}

.card_content {
    font-size: 9px;
    padding: 10px 20px;
    padding-bottom:0 ;
    text-align: justify;
    margin-bottom: 0;
}

.card_img {
    width: 70px;
    border-radius: 100px;
    margin-bottom: 0;
}