body{
    margin: 0;
    background-color: #ededed;
}

.box {
    height: 100px;
    width: 100px;
    background-color: orange;
    text-align: center;
    position: relative;
}

.box--blue{
    background-color: blue;
    top: 35px;
    left: 30px;
    z-index: 20;
}

.box:first-child {
    background-color: red;
    top: 70px;
    left: 50px;
    z-index: 30;
}