.box {
    width: 300px;
    height: 300px;
    background: #edede2;
    margin: auto;
    margin-top: 50px;
    box-shadow: 0.5px 10px 35px 2px #301f1d88;
    font-family: sans-serif;
    box-sizing: border-box;
    padding: 10px 20px 5px 5px;
    padding-top: 5px;
    color: #3a3a2f;
}

p {
    list-style: none;
    text-align: justify;
    line-height: 1.2;
    font-size: 12px;
    text-shadow: 0 0 5px;
}

img {
    filter: drop-shadow(0 0 5 #f92);
}