body {
    margin: 0;
    font-family: sans-serif;
}

.modal {
    background-color: #0009;
    height: 100vh;
    box-sizing: border-box;
    border: none;
}

.modal__content {
    background-color: #fff;
    padding: 10px 25px;
    width: 80%;
    margin: auto;
    margin-top: 70px;
    position: relative;
    border-radius: 5px;
}

.modal__title {
    margin-top: 10px;
    text-align: center;
}

.modal__close {
    color: #ee1e1e;
    position: absolute;
    top: 5px;
    right: 5px;
    padding: 1.5px 1.5px;
}