body{
    margin: 0;
    background-color: #c4b3b3;
    font-family: sans-serif
}

.contenedor {
    border: 3px solid black;
    margin: 30px 50px;
    position: relative;
    background-color: #d8d0d0;
}

.box {
    height: 100px;
    width: 100px;
    background-color: #f5a107ef;
    text-align: center;
    color: white;
}

.box--blue{
    background-color: #387aeb;
    position: absolute;
    top: 40px;
    z-index: 10;
   
}

.box--orange {
    background-color: #e24907;
    position: relative;
    z-index: 20;
}